QUERIDO_DIARIO_ELASTICSEARCH_INDEX={{QUERIDO_DIARIO_ELASTICSEARCH_INDEX}}
QUERIDO_DIARIO_ELASTICSEARCH_HOST={{QUERIDO_DIARIO_ELASTICSEARCH_HOST}}
QUERIDO_DIARIO_API_ROOT_PATH={{QUERIDO_DIARIO_API_ROOT_PATH}}
PYTHONPATH={{PYTHONPATH}}
