[Unit]
Description=%i spider

[Service]
Type=oneshot
TimeoutStartSec=0
ExecStartPre=-/usr/bin/podman stop %i-spider
ExecStartPre=-/usr/bin/podman rm %i-spider
ExecStart=echo "Starting %i spider"
ExecStart=date
ExecStart=/usr/bin/podman run --cpus 1 --memory 1g --env-file {{ diario_configdir }}/env  --name %i-spider --volume {{diario_configdir}}/settings.py:/mnt/code/data_collection/gazette/settings.py:ro --volume {{ host_data_path }}/%i:/mnt/data --user {{ containeruser }} {{ container_image }}  bash -c "cd data_collection && scrapy crawl %i"
ExecStart=date
ExecStart=echo "%i spider has been finished"
StandardOutput=journal

[Install]
WantedBy=multi-user.target
